div{
   
    text-align: center;
 
height: 20vh;
width:10vw;
    border-radius: 95px;
   background-color: var(--ion-color-primary);
}


div:hover{
    text-align: center;
height: 20vh;
width:10vw;
    border-radius:  95px;
   background-color: var(--ion-color-secondary);
}